<div >
    <div class="col-md-6">
        <h4>Change Password</h4>
        <form (ngSubmit)="onSave()" class="form-group needs-validation" novalidate>
            <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2"> <h2 *ngIf="this.errorMsg != null">{{ errorMsg }}</h2></td>
                  </tr>
                <tr>
                    <td align="right"><label for="emailAddress">Email Address:&nbsp;</label></td>
                    <td>{{this.jwtResponse.emailAddress}}</td>
                </tr>
                <tr>
                    <td align="right"><label for="newPassword">Change Password:&nbsp;</label></td>
                    <td>
                        <input type="password" maxlength="15" class="form-control" id="newPassword" [(ngModel)]="newPassword" placeholder="enter new password"
                name="newPassword" required>
                    </td>
                </tr>
                <tr>
                    <td align="right"><label for="newPassword">Confirm Password:&nbsp;</label></td>
                    <td>
                        <input type="password" maxlength="15" class="form-control" id="newPassword" [(ngModel)]="newPassword" placeholder="enter confirm password"
                name="newPassword" required>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td ><button type="submit" class="btn btn-success">Submit</button></td>
                  </tr>
                </tbody>
              </table>
        </form>
    </div>
</div>