
<mat-card>
  
  <mat-card-header>
  <mat-form-field>
    <input matInput (keyup)="filterChange($event)" placeholder="Filter" />
  </mat-form-field>
    <button style="margin-left: 65%;"  mat-raised-button color="accent" [routerLink]="['/priest/edit', 0]">Add Request (+)</button>
  </mat-card-header>
  <mat-card-content>

<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> ID</th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="this.role == 'ADMIN'; else roleTemplate">
          <a [routerLink]="['/priest/edit', element.requestId]">{{element.requestId}}</a>
      </div>
      <ng-template #roleTemplate>{{element.requestId}}
       </ng-template>
    </td>
  </ng-container>
  <ng-container matColumnDef="eventDate">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> Date</th>
    <td mat-cell *matCellDef="let element">{{element.eventDate}}</td>
  </ng-container>
  <ng-container matColumnDef="startTime">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> Time</th>
    <td mat-cell *matCellDef="let element">{{element.startTime}}</td>
  </ng-container>
  <ng-container matColumnDef="name">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element">{{element.customer.lastName}}&nbsp;-&nbsp;{{element.customer.firstName}}</td>
  </ng-container>
  <ng-container matColumnDef="address">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Address</th>
      <td mat-cell *matCellDef="let element">{{getAddress(element.customer.address!, element.customer.city!,element.customer.state!, element.customer.zipCode!)}}</td>
  </ng-container>
  <ng-container matColumnDef="phone">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Phone</th>
      <td mat-cell *matCellDef="let element">{{element.customer.phone!}}</td>
  </ng-container>

  <ng-container matColumnDef="service">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> Service</th>
    <td mat-cell *matCellDef="let element">{{getService(element.priestDetails!)}}</td>
  </ng-container>

  <ng-container matColumnDef="venue">
    <th mat-sort-header mat-header-cell *matHeaderCellDef> Venue</th>
    <td mat-cell *matCellDef="let element">{{setVenue(element.templeEvent)}}</td>
  </ng-container>
  <div *ngIf="this.role == 'ADMIN'; else nonAdminTemplate">
    <ng-container matColumnDef="amount">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Amount</th>
      <td mat-cell *matCellDef="let element">${{element.amount!}}</td>
    </ng-container>  
    <ng-container matColumnDef="priest">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Priest</th>
      <td mat-cell *matCellDef="let element">{{element.priestName}}</td>
    </ng-container>       
    <ng-container matColumnDef="priestStatus">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Status</th>
      
        <td mat-cell *matCellDef="let element">
          <div *ngIf="'A'==element.priestStatus; else priestStatusTemplate">Viewed</div>
          <ng-template #priestStatusTemplate></ng-template>
        </td>
    </ng-container>   
  </div>
  <ng-template #nonAdminTemplate>
    <ng-container matColumnDef="priestStatus">
      <th mat-sort-header mat-header-cell *matHeaderCellDef> Status</th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="'A'==element.priestStatus; else priestStatusTemplate">Acknowledged</div>
          <ng-template #priestStatusTemplate>
            <mat-checkbox class="example-margin" (change)="getAcknowledge(element.requestId)" matTooltip="Acknowledgement"></mat-checkbox>
          </ng-template>
        </td>
    </ng-container>   
  </ng-template>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row;columns:displayedColumns"></tr>

</table>

</mat-card-content>
<br>
<mat-card-footer>

  <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons></mat-paginator>

</mat-card-footer>
</mat-card>