<br>
<div class="my-card-content">
  <h4>Customer</h4>
    <div class="confirmation-container">
        <h1>Registration In Progress</h1>
        <p>You have successfully submitted your registration. Please check your email for a confirmation message shortly.</p>
        <p>If you don't receive an email within a few minutes, please check your spam folder.
          We sent an email to rkrv601@yahoo.com with a link for verification. Please verify your email to get started!
        </p>
    </div>
</div>