<h4>&nbsp;&nbsp;&nbsp;&nbsp;<a onclick="history.back()"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></h4>
<mat-card>
    <form (ngSubmit)="onSave()">
    <h1 class="text-danger">&nbsp;Lotus Academy</h1>
    <h4 class="text-danger" *ngIf="this.errorMsg != null">{{ errorMsg }}</h4>
    <mat-card-content class="my-card-content">
        <mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="lastName" name="lastName"/>
        </mat-form-field>     
    </mat-card-content>
    <mat-card-content class="my-card-content">
        <mat-form-field appearance="outline">
            <mat-label labelPosition="before">First name</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="firstName" name="firstName"/>
        </mat-form-field>           
    </mat-card-content>
    <mat-card-content class="my-card-content">
        <mat-form-field appearance="outline">
            <mat-label labelPosition="before">Email</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="emailAddress" name="emailAddress"/>
        </mat-form-field>  
    </mat-card-content>
    <mat-card-content class="my-card-content">       
        <mat-form-field appearance="outline">
            <mat-label labelPosition="before">Phone</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="phone" name="phone"/>
        </mat-form-field>         
    </mat-card-content>    
    <mat-card-content class="my-card-content">
        <mat-form-field appearance="outline">
            <mat-label labelPosition="before">Amount</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="amount" name="amount"/>
        </mat-form-field>  
    </mat-card-content>
    <mat-card-content class="my-card-content">
        <mat-form-field appearance="outline">
            <mat-label labelPosition="before">Comments</mat-label>
            <input matInput type="text" class="form-control" [(ngModel)]="comments" name="comments"/>
        </mat-form-field>  
    </mat-card-content>
    
        <mat-card-content class="my-card-content">
            <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button *ngIf="cancelButton" type="button" class="btn btn-warning" (click)="sendPaymentLink()">Payment Link</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <button *ngIf="emailButton" type="button" class="btn btn-info" (click)="openDialog(myDialog)"> Send Email</button>
        </mat-card-content>
    </form>
</mat-card>

<!-- The Modal -->
<ng-template #myDialog>
    <h2 matDialogTitle>{{modalTitle}}</h2>
    <h4 *ngIf="this.errorMsg">
        <div class="alert-warning">{{errorMsg}}</div>
    </h4>    
    <mat-dialog-content>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>&nbsp;<textarea rows="5" class="form-control" [(ngModel)]="modalMessage"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button matDialogClose class="btn btn-danger">Close</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" (click)="onModalSubmit()">Submit</button>
    </mat-dialog-actions>
  </ng-template>