<div class="row">
    <div class="col-md-5"  *ngIf="!this.successMsg">
       <form name="mycc" novalidate>
        <table class="table table-borderless">
          <tr>
            <td colspan="2">
              <h1><font color=#6D1907>Credit details</font></h1>
            </td>
          </tr>
          <tr *ngIf="this.errorMsg">
            <td colspan="2">
              <h4 class="text-danger">{{errorMsg}}</h4>
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Name:&nbsp;</b></td>
            <td class="text-info">&nbsp;{{lastName}}&nbsp;,{{firstName}}
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Email:&nbsp;</b></td>
            <td class="text-info">&nbsp;{{emailAddress}}&nbsp;
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Amount:&nbsp;</b>
            </td>
            <td class="text-info">&nbsp;&nbsp;${{amount| number:'1.2-2'}}
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Message:&nbsp;</b>
            </td>
            <td class="text-info"><div innerHTML = "{{ message }}"></div>
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Card Number:&nbsp;</b></td>
            <td class="text-info">
              <input type="text" size="20" id='cardNumber' name='cardNumber' [(ngModel)]="cardNumber" placeholder="enter card number">&nbsp;<font color=red>*</font>
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Name:&nbsp;</b></td>
            <td class="text-info">
              <input type="text" size="30" id='cardName' name='cardName' [(ngModel)]="cardName" placeholder="enter item name" required>&nbsp;
              <font color=red>*</font>
            </td>
          </tr>
          <tr>
            <td align="right" class="text-info"><b>Expiration:&nbsp;</b></td>
            <td class="text-info">
              <input type="text" size="4" id='expiration' name='expiration' [(ngModel)]="expiration" placeholder="MMYY"
                required>&nbsp;(MMYY)&nbsp;<font color=red>*</font>
            </td>
          </tr>
         <tr>
            <td align="right" class="text-info">&nbsp;
            </td>
            <td><button type="submit" class="btn btn-success"  (click)="onSave()">Submit</button>
            </td>
          </tr>
        </table>
        </form>
    </div>
    <div class="col-md-5"  *ngIf="successMsg">
        <table class="table table-borderless">
          <tr>
            <td>
              <h3 class="text-danger">Order confimation</h3>
            </td>
          </tr>  
            <tr>
              <td><h4 class="text-info">Your Order Has Been Confirmed, Thank You!.<br><br>Please check your email for pickup location.</h4></td>
            </tr>
        </table>
    </div>
  </div>